<ion-view view-title="Sign-In">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Register with your Phone Number</span>
                <input type="text" ng-model="phone">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="registerUser(phone)">
                Register
            </button>
        </div>
    </ion-content>
</ion-view>